<html>
  <head>
    <title>Home</title>
    <script src="https://code.jquery.com/jquery-1.11.3.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/underscore.js/1.8.3/underscore-min.js"></script>
     <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/css/bootstrap.min.css" integrity="sha512-dTfge/zgoMYpP7QbHy4gWMEGsbsdZeCXz7irItjcC3sPUFtf0kuFbDz/ixG7ArTxmDjLXDmezHubeNikyKGVyQ==" crossorigin="anonymous">
     <link rel="stylesheet" href="http://code.ionicframework.com/ionicons/2.0.1/css/ionicons.min.css">
     <link href="/css/index.css" rel="stylesheet" >
     </script>
  </head>

  <body>

  	<!--- Navigation stuff taken from header.ejs (aztec curation): change to partial load later---->
    <nav class="navbar navbar-default navbar-fixed-top">
    <div class="container-fluid" style="margin:0; margin-left: 9em; margin-right: 20em">
        <div class="navbar-header">
            <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar" aria-expanded="false" aria-controls="navbar">
                <span class="sr-only">Toggle navigation</span>
            </button>
            <a class="navbar-brand" href="/">AZ<span style="font-size: 80%">TEC</span></a>
        </div>

        <div id="navbar" class="navbar-collapse collapse">
            <ul class="nav navbar-nav">
                <li class="dropdown">
                    <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">About<span class="caret"></span></a>
                    <ul class="dropdown-menu">
                        <li><a href="/home/overview">Overview</a></li>
                        <li><a href="/home/metadata">Metadata</a></li>
                        <li><a href="/home/technologies">Technologies</a></li>
                        <li><a href="/home/sources">Sources</a></li>
                    </ul>
                </li>
                
                <li id="liRegister"><a href="/tool/create">Register New Resource</a></li>
                <li class="dropdown">
                    <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">Related Links<span class="caret"></span></a>
                    <ul class="dropdown-menu">
                        <li><a href="http://heartbd2k.org">HeartBD2K/a></li>
                        <li><a href="https://bd2kccc.org">BD2K Centers-Coordination Center</a></li>
                        <li><a href="https://datascience.nih.gov/bd2k">NIH BD2K Initiative</a></li>
                    </ul>
                </li>
            </ul>

            <ul class="nav navbar-nav navbar-right">
                <li> <a href="/home/login" id="login-btn" class="navbar-nav pull-right"><span class="ion-person" id="login"></span>Login</a> </li>
                <li> <a href="/home/signup" id="login-btn" class="navbar-nav pull-right"><span class="ion-person-add" id="signup"></span>Signup</a> </li>
            </ul>
        </div><!-- /.navbar-collapse -->
    </div>
</nav>



  </body>
</html>
