<html>
  <head>
    <title>Test Output</title>
    <script src="https://code.jquery.com/jquery-1.11.3.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/underscore.js/1.8.3/underscore-min.js"></script>
  </head>

  <body>
    <h1>Test Output</h1>
    <span id='message'><%= message %></span>
  </body>
</html>
