<html>
  <head>
    <title>Test Edit</title>
    <script src="https://code.jquery.com/jquery-1.11.3.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/underscore.js/1.8.3/underscore-min.js"></script>
  </head>

  <body>
    <h1>Test Edit</h1>
	<span id='message'><%= message %></span>
	<span id='form'></span>	
	<script>

	//console.log(message);
	var jsonObject = JSON.parse(document.getElementById('message').innerHTML);
	var formPlace = document.getElementById('form');

	var form = document.createElement("form");
	form.action = "";
	form.method = "PUT";
	
	for (var prop in jsonObject) {

		var isID = prop == "AZID";
		var row = document.createElement("div");

		var foreText = document.createElement("div");
		foreText.innerHTML = "<br><b>"+prop+":</b> ";

		var field = document.createElement("input");
		field.type = "text";
		field.name = prop;
		field.id = prop;
		field.value = jsonObject[prop];
		if(isID)
			field.readOnly = true;	

		var httpGetAsync = function(theUrl, callback, callbackparam, callbackparam2)
		{
		    var xmlHttp = new XMLHttpRequest();
		    xmlHttp.onreadystatechange = function() { 
			if (xmlHttp.readyState == 4 && xmlHttp.status == 200)
			    callback(xmlHttp.responseText, callbackparam, callbackparam2);
		    }
		    xmlHttp.open("GET", theUrl, true); // true for asynchronous
		    xmlHttp.send(null);
		}

		var buttonMaker = function(suggestion, rowToAddon, field)
		{
		    	if(suggestion == "")
				return;

			var afterText = document.createElement("div");
			afterText.innerHTML = " <b>Suggestion:</b> " + suggestion;

			var approveButton = document.createElement("button");

			rowToAddon.appendChild(afterText);
			rowToAddon.appendChild(approveButton);

			approveButton.type = "button";
			approveButton.appendChild(document.createTextNode("Approve"));

			approveButton.newValue = suggestion;
			approveButton.fieldToChange = field;
			approveButton.rowToRemoveFrom = rowToAddon;
			approveButton.textToRemove = afterText;
			approveButton.onclick = function(){
				this.fieldToChange.value = suggestion;
				this.rowToRemoveFrom.removeChild(this.textToRemove);
				this.rowToRemoveFrom.removeChild(this);
			};
		};

		httpGetAsync("/suggestion?q="+jsonObject.NAME+"&field="+prop, buttonMaker, row, field);

		row.appendChild(foreText);
		row.appendChild(field);
		form.appendChild(row);
    	}

	var submitButton = document.createElement("button");
	submitButton.type = "submit";
	submitButton.appendChild(document.createTextNode("Submit"));

	form.appendChild(submitButton);
	formPlace.appendChild(form);
	</script>
    
  </body>
</html>
