<html>

<head>
  <title>Tool</title>
  <script src="https://code.jquery.com/jquery-1.11.3.min.js"></script>
  <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.4.7/angular.min.js"></script>
  <script src="http://cdn.jsdelivr.net/jquery.validation/1.14.0/jquery.validate.min.js"></script>
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/css/bootstrap.min.css" integrity="sha512-dTfge/zgoMYpP7QbHy4gWMEGsbsdZeCXz7irItjcC3sPUFtf0kuFbDz/ixG7ArTxmDjLXDmezHubeNikyKGVyQ==" crossorigin="anonymous">
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/js/bootstrap.min.js" integrity="sha512-K1qjQ+NcF2TYO/eI3M6v8EiNYZfA95pQumfvcVrTHtwQVDG+aHRqLi/ETn2uB+1JqwYqVG3LIvdm9lj6imS/pQ==" crossorigin="anonymous"></script>
  <link rel="stylesheet" href="http://code.ionicframework.com/ionicons/2.0.1/css/ionicons.min.css">
  <link href="/stylesheets/index.css" rel="stylesheet">
  <link href="/stylesheets/tools.css" rel="stylesheet">
  <script src="/javascripts/modal.js"></script>
  <script>
    $(document).ready(function() {
      $.ajax({
        url: '/api/tool/<%=azid%>',
        type: 'GET',
      }).done(function(data) {
        console.log(data);
        console.log(data.basic_section.name);
        console.log(data.author_section.authors.length);
        $('#tool-display').text(JSON.stringify(data, null, 4));
        $('#toolh1').append(data.basic_section.name);
        if (data.author_section.authors.length > 0){
        for (var i = (data.author_section.authors.length) - 1; i >= 0; i--) {
          $('#authorname').append(data.author_section.authors[i].first_name);
          $('#authorname').append(' ');
          $('#authorname').append(data.author_section.authors[i].last_name);
          $('#authorname').append("&nbsp;&nbsp;");

        }
      } else{
        $('#authorname').append("Author Unavailable");
      }

        $('#tool-desc').append(data.basic_section.description);
        if(data.basic_section.resource_types.length > 0){
          $('#toolhead').append('Software Type: ');
          for (var i = data.basic_section.resource_types.length - 1; i >= 0; i--) {
            $('#tooldeet').append('<li>'+ data.basic_section.resource_types[i].type + '</li>');
          };
        } else{
          $('.tooltype').hide();
        }
        if(data.dev_section.platform.length > 0){
          $('#plathead').append('Supported Platforms: ');
          for (var i = data.dev_section.platform.length - 1; i >= 0; i--) {
            $('#platdeet').append('<li>'+ data.dev_section.platform[i].name + '</li>');
          };
        } else{
          $('.platforms').hide();
        }


         if(data.dev_section.code_url){
          $('#sourcehead').append('Source Code: ');
          $('#sourcedeet').append('<a href=\"'+data.dev_section.code_url + '\">' + data.dev_section.code_url + '</a>');
        } else{
          $('.source_code').hide();
        }

         if(data.link_section.links.length > 0){
          $('#hphead').append('Home Page URL: ');
          for (var i = data.link_section.links.length - 1; i >= 0; i--) {
            $('#hpdeet').append('<li>'+'<a href=\"'+data.link_section.links[i].url + '\">' + data.link_section.links[i].url + '</a>'+ '</li>');
          };
        } else{
          $('.homepage').hide();
        }

        if(data.dev_section.language.length > 0){
          $('#langhead').append('Tool Languages: ');
          for (var i = data.dev_section.language.length - 1; i >= 0; i--) {
            $('#langdeet').append('<li>'+ data.dev_section.language[i].PRIMARY_NAME + '</li>');
          };
        } else{
          $('.lang').hide();
        }

      // when to hide the credits div

      if((data.funding_section.funding.length == 0) && (data.author_section.maintainers.length == 0) && (data.funding_section.bd2k.length == 0)){
        $('#credit').remove();
      }

        if(data.author_section.affiliation.length > 0){
          $('#insthead').append('Institution: ');
          for (var i = data.author_section.affiliation.length - 1; i >= 0; i--) {
            if (data.author_section.affiliation[i].new_institution != undefined){
              if(i<2)
                $('#affiliation').append('<u>'+data.author_section.affiliation[i].new_institution+'</u>');
              $('#instdeet').append('<li>'+ data.author_section.affiliation[i].new_institution + '</li>');
            }
            else if (data.author_section.affiliation[i].inst_name != undefined){
              if(i<2)
                $('#affiliation').append('<u>'+data.author_section.affiliation[i].inst_name+'</u>');
                $('#instdeet').append('<li>'+ data.author_section.affiliation[i].inst_name + '</li>');
              }
              $('#affiliation').append("&nbsp;&nbsp;");
          };
        } else{
          $('.funder').hide();
        }

        if(data.author_section.maintainers.length > 0){
          $('#mainthead').append('Maintainers: ');
          for (var i = data.author_section.maintainers.length - 1; i >= 0; i--) {
            $('#maintdeet').append('<li>'+ data.author_section.maintainers[i].first_name + ' ' + data.author_section.maintainers[i].last_name +
            '&nbsp'+ '&lt;'+ data.author_section.maintainers[i].email + '&gt;' +'</li>');
          };
        } else{
          $('.maintain').hide();
        }

        if(data.funding_section.funding.length > 0){
          $('#funhead').append('Funding: ');
          for (var i = data.funding_section.funding.length - 1; i >= 0; i--) {
            var grant = '';
            if(data.funding_section.funding[i].grant)
              grant =  data.funding_section.funding[i].grant;

            if(data.funding_section.funding[i].agency != undefined){
            $('#fundeet').append('<li>'+ data.funding_section.funding[i].agency +grant+'</li>');}

            if(data.funding_section.funding[i].new_agency != undefined){
            $('#fundeet').append('<li>'+ data.funding_section.funding[i].new_agency +grant+ '</li>');}

          };
        } else{
          $('#funhead').append('Funding: ');
          $('#fundeet').append('<li>'+ 'Not Available' +'</li>');

                  }

        if(data.funding_section.bd2k.length > 0){
          $('#bd2khead').append('BD2K: ');
          $('#toolh1').append(' <sup>BD2K</sup>');
          for (var i = data.funding_section.bd2k.length - 1; i >= 0; i--) {
            $('#bd2kdeet').append('<li>'+ data.funding_section.bd2k[i].center +'</li>');
          };
        } else{
          $('.bd2k').hide();
        }

        //
        if(data.basic_section.tags.length > 0){
          //$('.tagholder').append('');
          for (var i = data.basic_section.tags.length - 1; i >= 0; i--) {
            $('.taggytags').append('<div class="tagholder">'+ data.basic_section.tags[i].text +'</div>' + ' ');
          }
        } else{
          $('.taggytags').hide();
        }
       var a = true;
        if(data.license_section.type)
        {
            if (data.license_section.type == "Proprietary" || data.license_section.type == "Other"){
              a = false;
            }
          $('#license').append(data.license_section.type);
        }
        else{
          $('#license').append("No License");
        }
        if(a){
          $("#cost").append("Free");
        }
        else{
           $("#cost").append("Proprietary");
        }



           if(data.pub_section.primary_pub_doi){
          $('#pubhead').append('Publication: ');
          var pub_doi = "dx.doi.org/";
          pub_doi = pub_doi + data.pub_section.primary_pub_doi ;
          $('#pubdeet').append('<li>'+ "<a href ="+ pub_doi +'>'+ pub_doi + '</a>'+'</li>');
        } else{
          $('#pubhead').append('Publication: ');
          $('#pubdeet').append('<li>'+ 'Not Available' +'</li>');

                  }



      });
    });

  </script>
</head>

<body>
    <div id="header" style="position:relative">
      <%- include ./partials/header.ejs %>
    </div>
    <div class="breadcrumbs">
      <h2> <a href="/home"> HOME </a> > <a href="/reg"> TOOLS </a>  </h2>
    </div>
   <div class="container-fluid" id="main-container">
    <div class="container">
    <div class="tooltitle">
      <div class="cost-stuff" id="cost"></div>
      <h1 id="toolh1"></h1>
      <div class="cost-stuff" id="license"></div>
      <h2 id="authorname"></h2>
       <div class="cost-stuff" id="cite">Cite</div>
       <h2 id="affiliation"></h2>
    </div>
    </div>
    <div class="res_description">
      <div class="container">
        <p id="tool-desc"></p>
        <div class="taggytags">
       <!--  <div class="tagholder"></div> -->
        </div>
      </div>
    </div>



    <div class="container-fluid" id="detail">
      <div class="container">
      <div class="rect1">
      </div>
      <div class="deet-heading">
        <h1> DETAILS </h1>
      </div>
      <div class="rect1">
      </div>

      <div class="container-fluid" id="deets-body">
       <div class="col-xs-12 col-sm-12 col-md-6 col-lg-6">
        <div class="detail-content" id="tooltype">
          <h3 id="toolhead"></h3>
           <ul id="tooldeet">
           </ul>
        </div>

        <div class="detail-content" id="platforms">
          <h3 id="plathead"></h3>
           <ul id="platdeet">
           </ul>
        </div>

        <div class="detail-content" id="lang">
          <h3 id="langhead"></h3>
           <ul id="langdeet">
           </ul>
        </div>


       </div>

       <div class="col-xs-12 col-sm-12 col-md-6 col-lg-6">
        <div class="detail-content" id="source_code">
          <h3 id="sourcehead"></h3>
           <ul id="sourcedeet">
           </ul>
        </div>

        <div class="detail-content" id="homepage">
          <h3 id="hphead"></h3>
           <ul id="hpdeet">
           </ul>
        </div>

        <div class="detail-content" id="institute">
          <h3 id="insthead"></h3>
           <ul id="instdeet">
           </ul>
        </div>

       </div>

      </div>

      </div>

    </div>



    <div class="container-fluid" id="credit">
      <div class="container">
      <div class="rect1">
      </div>
      <div class="deet-heading">
        <h1> CREDITS </h1>
      </div>
      <div class="rect1">
      </div>

      <div class="container-fluid" id="creds-body">
       <div class="col-xs-12 col-sm-12 col-md-6 col-lg-6">

        <div class="detail-content" id="funder">
          <h3 id="funhead"></h3>
           <ul id="fundeet">
           </ul>
        </div>

       </div>

       <div class="col-xs-12 col-sm-12 col-md-6 col-lg-6">
        <div class="detail-content" id="source_code">

        <div class="detail-content" id="maintain">
          <h3 id="mainthead"></h3>
           <ul id="maintdeet">
           </ul>
        </div>

        <div class="detail-content" id="bd2k">
          <h3 id="bd2khead"></h3>
           <ul id="bd2kdeet">
           </ul>
        </div>



       </div>


      </div>

      </div>

    </div>
  </div>


    <div class="container-fluid" id="pub">
      <div class="container">
      <div class="rect1">
      </div>
      <div class="deet-heading">
        <h1> PUBLICATIONS </h1>
      </div>
      <div class="rect1">
      </div>

      <div class="container-fluid" id="pub-body">
       <div class="col-xs-12 col-sm-12 col-md-6 col-lg-6">

        <div class="detail-content" id="publication">
          <h3 id="pubhead"></h3>
           <ul id="pubdeet">
           </ul>
        </div>

       </div>

       <div class="col-xs-12 col-sm-12 col-md-6 col-lg-6">
        <div class="detail-content" id="xdxd">

        <div class="detail-content" id="xx3x">
          <h3 id="xx"></h3>
           <ul id="xxx">
           </ul>
        </div>

        <div class="detail-content" id="xx2x">
          <h3 id="xxxx"></h3>
           <ul id="x4x">
           </ul>
        </div>



       </div>


      </div>

      </div>

    </div>
  </div>






   </div>


   <!--  <pre id='tool-display'></pre>
    <br> -->
</body>

</html>
