<html>

<head>
  <title>Tool</title>
  <script src="https://code.jquery.com/jquery-1.11.3.min.js"></script>
  <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.4.7/angular.min.js"></script>
  <script src="http://cdn.jsdelivr.net/jquery.validation/1.14.0/jquery.validate.min.js"></script>
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/css/bootstrap.min.css" integrity="sha512-dTfge/zgoMYpP7QbHy4gWMEGsbsdZeCXz7irItjcC3sPUFtf0kuFbDz/ixG7ArTxmDjLXDmezHubeNikyKGVyQ==" crossorigin="anonymous">
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/js/bootstrap.min.js" integrity="sha512-K1qjQ+NcF2TYO/eI3M6v8EiNYZfA95pQumfvcVrTHtwQVDG+aHRqLi/ETn2uB+1JqwYqVG3LIvdm9lj6imS/pQ==" crossorigin="anonymous"></script>
  <link rel="stylesheet" href="http://code.ionicframework.com/ionicons/2.0.1/css/ionicons.min.css">
  <link href="/stylesheets/index.css" rel="stylesheet">
  <link href="/stylesheets/tools.css" rel="stylesheet">
  <script src="/javascripts/modal.js"></script>
  <script>
    $(document).ready(function() {
      $.ajax({
        url: '/api/tool/<%=azid%>',
        type: 'GET',
      }).done(function(data) {
        console.log(data);
        console.log(data.basic.res_name);
        console.log(data.authors.authors.length);
        $('#tool-display').text(JSON.stringify(data, null, 4));
        $('#toolh1').append(data.basic.res_name);
        if (data.authors.authors.length > 0){
        for (var i = (data.authors.authors.length) - 1; i >= 0; i--) {
          $('#authorname').append(data.authors.authors[i].first_name);
          $('#authorname').append(' ');
          $('#authorname').append(data.authors.authors[i].last_name);
          $('#authorname').append("&nbsp;&nbsp;");

          console.log(data.authors.authors[i].first_name);
        }
      }

        $('#tool-desc').append(data.basic.res_desc);
        console.log(data.basic.res_desc);

      });
    });
  </script>
</head>

<body>
    <div id="header" style="position:relative">
      <%- include ./partials/header.ejs %>
    </div>
    <div class="breadcrumbs">
      <h2> <a href="/home"> HOME </a> > <a href="/reg"> TOOLS </a>  </h2>
    </div>
   <div class="container-fluid">
    <div class="container">
    <div class="tooltitle">
      <h1 id="toolh1"></h1>
      <h2 id="authorname"></h2>
    </div>
    </div>
    <div class="res_description">
      <div class="container">
        <p id="tool-desc"></p>
      </div>
    </div>
    <div class="container-fluid" id="detail">
      <div class="container">
      <div class="rect1">
      </div>
      <div class="deet-heading">
        <h1> DETAILS </h1>
      </div>
      <div class="rect1">
      </div>

      <div class="container-fluid" id="deets-body">
        lskdjalksjflksfjglkjflkgjdlfkgjldkfjgldkjflgkdjflkgjdlfkgjld
        s
        lskdjalksjflksfjglkjflkgjdlfkgjldkfjgldkjflgkdjflkgjdlfkgjld
        lskdjalksjflksfjglkjflkgjdlfkgjldkfjgldkjflgkdjflkgjdlfkgjld
        lskdjalksjflksfjglkjflkgjdlfkgjldkfjgldkjflgkdjflkgjdlfkgjld
        lskdjalksjflksfjglkjflkgjdlfkgjldkfjgldkjflgkdjflkgjdlfkgjld
        lskdjalksjflksfjglkjflkgjdlfkgjldkfjgldkjflgkdjflkgjdlfkgjld
        lskdjalksjflksfjglkjflkgjdlfkgjldkfjgldkjflgkdjflkgjdlfkgjld
        lskdjalksjflksfjglkjflkgjdlfkgjldkfjgldkjflgkdjflkgjdlfkgjld
        lskdjalksjflksfjglkjflkgjdlfkgjldkfjgldkjflgkdjflkgjdlfkgjld
        lskdjalksjflksfjglkjflkgjdlfkgjldkfjgldkjflgkdjflkgjdlfkgjld
        lskdjalksjflksfjglkjflkgjdlfkgjldkfjgldkjflgkdjflkgjdlfkgjldlskdjalksjflksfjglkjflkgjdlfkgjldkfjgldkjflgkdjflkgjdlfkgjldlskdjalksjflksfjglkjflkgjdlfkgjldkfjgldkjflgkdjflkgjdlfkgjldlskdjalksjflksfjglkjflkgjdlfkgjldkfjgldkjflgkdjflkgjdlfkgjldlskdjalksjflksfjglkjflkgjdlfkgjldkfjgldkjflgkdjflkgjdlfkgjldlskdjalksjflksfjglkjflkgjdlfkgjldkfjgldkjflgkdjflkgjdlfkgjldlskdjalksjflksfjglkjflkgjdlfkgjldkfjgldkjflgkdjflkgjdlfkgjldlskdjalksjflksfjglkjflkgjdlfkgjldkfjgldkjflgkdjflkgjdlfkgjldlskdjalksjflksfjglkjflkgjdlfkgjldkfjgldkjflgkdjflkgjdlfkgjldlskdjalksjflksfjglkjflkgjdlfkgjldkfjgldkjflgkdjflkgjdlfkgjldlskdjalksjflksfjglkjflkgjdlfkgjldkfjgldkjflgkdjflkgjdlfkgjldlskdjalksjflksfjglkjflkgjdlfkgjldkfjgldkjflgkdjflkgjdlfkgjldlskdjalksjflksfjglkjflkgjdlfkgjldkfjgldkjflgkdjflkgjdlfkgjldlskdjalksjflksfjglkjflkgjdlfkgjldkfjgldkjflgkdjflkgjdlfkgjld
      </div>

      </div>

    </div>
   </div>


   <!--  <pre id='tool-display'></pre>
    <br> -->
</body>

</html>
