 <!--  angular app for navigation  -->
  <div id = "nav-stuff">
    <nav class="navbar navbar-default navbar-fixed-top">
    <div class="container-fluid" style="margin:0; margin-left: 9em; margin-right: 20em">
        <div class="navbar-header">
            <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar" aria-expanded="false" aria-controls="navbar">
                <span class="sr-only">Toggle navigation</span>
            </button>
            <a class="navbar-brand" href="/">AZ<span style="font-size: 80%">TEC</span></a>
        </div>

        <div id="navbar" class="navbar-collapse collapse">
            <ul class="nav navbar-nav">
                <li class="dropdown">
                    <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">About<span class="caret"></span></a>
                    <ul class="dropdown-menu">
                        <li><a href="/home/overview">Overview</a></li>
                        <li><a href="/home/metadata">Metadata</a></li>
                        <li><a href="/home/technologies">Technologies</a></li>
                        <li><a href="/home/sources">Sources</a></li>
                    </ul>
                </li>
                
                <li id="liRegister"><a href="/create">Register New Resource</a></li>
                <li class="dropdown">
                    <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">Related Links<span class="caret"></span></a>
                    <ul class="dropdown-menu">
                        <li><a href="http://heartbd2k.org">HeartBD2K/a></li>
                        <li><a href="https://bd2kccc.org">BD2K Centers-Coordination Center</a></li>
                        <li><a href="https://datascience.nih.gov/bd2k">NIH BD2K Initiative</a></li>
                    </ul>
                </li>
            </ul>
    <div ng-controller="MainCtrl" class="container">
        <div class="login-modals">         
            <ul class="nav navbar-nav navbar-right">
                <li> <a ng-click="toggleModal()" id="login-btn" class="navbar-nav pull-right"><span class="ion-person" id="login"></span>Login</a> </li>
                <li id="hide-signup"> <a href="/home/signup" id="login-btn" class="navbar-nav pull-right"><span class="ion-person-add" id="signup"></span>Signup</a> </li>
            </ul>
                
    
        <modal title="Login" visible="showModal">
         <form role="form">
              <div class="form-group" id="email-form">
              <label for="email">Email address</label>
              <input type="email" class="form-control" id="email" placeholder="Enter email" />
            </div>
            <div class="form-group" id="pass-form">
              <label for="password">Password</label>
              <input type="password" class="form-control" id="password" placeholder="Password" />
            </div>
            <button type="submit" class="btn btn-default" id="submit-btn">Submit</button>
            </form>
            <div class="modal-footer">
              <h4 id="modal-h4"> Dont have an account yet? <a ng-click="toggleSignup()">Signup</a></h4>
            </div>
        </modal>
        </div>
      <modal title="Signup" visible="showSignUp">
         <form role="form">
                <!-- First Name --> 
               <div class="form-group" id="name-form">
              <label for="firstname">First Name</label>
              <input type="text" class="form-control" id="name" placeholder="First Name" />
              </div>
                <!-- Last Name --> 
               <div class="form-group" id="name-form">
              <label for="lastname">Last Name</label>
              <input type="text" class="form-control" id="name" placeholder="Last Name" />
              </div>
              <!-- Job Title --> 
               <div class="form-group" id="name-form">
              <label for="jobtitle">Job Title</label>
              <input type="text" class="form-control" id="name" placeholder="What's your role in the lab?" />
              </div>

               <!-- Email/Password -->
              <div class="form-group" id="email-form">
              <label for="email">Email address</label>
              <input type="email" class="form-control" id="email" placeholder="Enter email" />
            </div>
            <div class="form-group" id="pass-form">
              <label for="password">Password</label>
              <input type="password" class="form-control" id="password" placeholder="Password" />
            </div>
             <div class="form-group" id="pass-form">
              <label for="password">Re-enter Password</label>
              <input type="password" class="form-control" id="password" placeholder="Password" />
            </div>


            <button type="submit" class="btn btn-default" id="create-AC-btn">Create Account</button>
            </form>
        </modal>
      </div>

 </div><!-- /.navbar-collapse -->
    </div> 
    </div>
</nav>
<!-- closing div for angular app -->
</div>
