#content{
        padding-top: 73px;
}
img {
	height: 52px; 
}
h1{
	font-size: 34px;
    text-align: center;
    font-weight: 200;
}
h2{
	font-size: 29px;
    font-weight: 100;
    
}
.nav{
    padding-top: 17px;
    font-weight: 200;
}
label{
	font-weight: 200;
    text-transform: uppercase;
    padding: 3px;
}

.btn-primary
{
	color: black;
    background-color: transparent;
    border-color: #BBD2DB;
    font-weight: 100;
    align-items: center;
}

.btn {
	float: right;
}
#resourceIntro,
#pub,
#lnk,
#lns,
#rT,
#bd,
#ai,
#fT,
#tls,
#dpndncy,
#tgs,
#mtn
{
	padding-bottom: 16px;
}

.ion-ios-plus-empty{
	visibility:hidden; 
	font-size:25px; 
	padding-left:671px
}
#pubShow{
	padding-left: 661px;
}
#linkShow{
	padding-left:809px;
}
#licenseShow{
	padding-left: 765px;
}

#resourceTypeShow{
	padding-left: 678px;
}

#bioShow{
	padding-left: 652px;
}

#authorShow{
	padding-left: 603px; 
}

#fileShow{
	padding-left: 756px;
}
#toolShow{
	padding-left: 809px;
}
#dependencyShow{
	padding-left: 701px;
}
#tagShow{
	padding-left: 814px;
}
#maintainerShow{
	padding-left: 742px;
}

#sideb
{
	position: fixed;
}

#regForm{
    padding-left: 43px;
}

.progress {
    height: 19px;
    margin-bottom: 14px;
    margin-top: -252px;
    /* padding-top: 2px; */
    z-index: +100;
    width: 158%;
    overflow: hidden;
    background-color: #f5f5f5;
    border-radius: 4px;
    -webkit-box-shadow: inset 0 1px 2px rgba(0,0,0,.1);
    box-shadow: inset 0 1px 2px rgba(0,0,0,.1);
     -ms-transform: rotate(90deg); /* IE 9 */
    -webkit-transform: rotate(90deg); /* Chrome, Safari, Opera */
    transform: rotate(90deg);
}


.progress-bar{
	background-color: #BBD2DB;
}