html, body {
    max-width: 100%;
    overflow-x: hidden;
}

.container {
	background-color: #ffffff;
	/*border: 1px solid #ccc;
	padding: 20px;*/
	top: 2vh;
	/*-webkit-box-shadow: 0 2px 2px 1px rgba(0,0,0,0.2);
	box-shadow: 0 2px 2px 1px rgba(0,0,0,0.2);*/
}

.btn-group{
    bottom: 15px;
    position: relative;
    top: -15px;

}

.nav{
    height: 5vh;
}

#overall{
    width: 100vw;
    height: 72vh; 
    overflow: hidden;
  background-color: rgba(238,238,238,32);
}

.reg-h1{
	font-size: 32px;
	line-height: 30px;
    opacity: 0.92;
    color: #333;
    font-weight: 400;
    text-transform: uppercase; 
    
}
.btn-primary{
        margin-top: 1%;
    }

/*@media (min-width: 768px){
    .reg-h1{
        margin-right: 4vw;
    }
    .btn-primary{
        margin-top: 1%;
    }
}

@media (min-width: 1280px){
        .reg-h1{
        margin-right: 30%;
    }
    
}

@media (min-width: 1440px){
        .reg-h1{
    margin-right: 33.2%;
        }
    
}

@media (min-width: 1680px){
        .reg-h1{
    margin-right: 37.2%;
            }
    
}

*/
.btn{
    border-color: rgba(0, 0, 0, 0.26);
    color: rgba(0, 0, 0, 0.54);
    background-color: rgba(255, 255, 255, 0.7);
}

.btn-primary{
	   color: #fff;
    background-color: #5A7B85;
     border-color: transparent;
    border-radius: 0px;
    font-family: 'Open Sans', sans-serif;
    font-weight: 100;
    /*width: 200px;*/
    outline: none;
    margin-left: 1%;
    width: 11%;
    height: 44px;
       /* width: 10%;
    outline: none;
        margin-left: 33%;
    height: 50%;
    margin-top: 1.8%;*/

}

.btn-primary:hover, .btn-primary:focus, .btn-primary:active, .btn-primary.active, .open>.dropdown-toggle.btn-primary {
       color: #fff;
    background-color: #274852;
    border-color: transparent;
    outline: transparent;
        box-shadow: none;


}

.btn:focus,.btn:active:focus,.btn.active:focus,
.btn.focus,.btn:active.focus,.btn.active.focus {
    outline: none;
}
body{
	    font-family: 'Open Sans', sans-serif;
        background-color: rgba(238,238,238,32);
        background-image: none;
        padding-top: 0px;
       overflow-x: hidden;

}
h1 {
    font-weight: 100; 

}
h2{
    font-size: 1em;
    color: white;
    font-weight: 100;
}
pre{
    border: none; 
    border-radius: 0px;
}

.breadcrumbs{
    padding-left: 5vw;
    padding-bottom: 0.7%;
    padding-top: 0.2vh;
    background-image: linear-gradient(#99C0CC 0px, #BBD2DB 100%); 

}

.breadcrumbs a{
    color: white;
}

.col-md-7, .col-md-3 {
    height: 70vh;
    overflow: scroll;
    padding-top: 0vh;
    padding-bottom: 18vh;
}
.col-md-7{
  margin-left: 7vw;
    padding-left: 4vw;
    padding-right: 4vw;
}

.col-md-3{

    margin-left: 5vw;
    overflow: hidden;

}
::-webkit-scrollbar { 
    display: none; 
}
.tab-pane{
 height:460px;
  overflow-y:scroll;
  width:100%;
padding-bottom: 10vh;
}
.titlestuff{
    margin-left: 9%;
    width: 100vw;
    display: inline-flex;
}

.nav-tabs{
    border: none;
}
.nav-tabs>li.active>a, .nav-tabs>li.active>a:focus, .nav-tabs>li.active>a:hover {
    border: none;
}

.nav-tabs>li.active>a:focus, .nav-tabs>li.active>a:hover{
    background-color: rgba(221,221,221,0.5);
    color: #000;
}

.nav-tabs>li>a {
    border-radius: 0px;
    color: #000;
}
a{
    color: white;
}
.tab-pane{
    padding-top: 1.5%;
}

.navbar-fixed-top{
    position: relative;
    margin-bottom: auto;
}
#author-repeater{
    margin-top: -14%;
    margin-left: -20%;
    margin-bottom: -14%;
}