.container {
	background-color: #ffffff;
	border: 1px solid #ccc;
	padding: 20px;
	top: 20px;
	/*-webkit-box-shadow: 0 2px 2px 1px rgba(0,0,0,0.2);
	box-shadow: 0 2px 2px 1px rgba(0,0,0,0.2);*/
}

.btn-group{
    bottom: 15px;
    position: relative;
    top: -15px;

}


.reg-h1{
	font-size: 41px;
	line-height: 30px;
    opacity: 0.92;
    color: #FFFFFF;
    font-weight: 100;
    margin-top: 4px;
    margin-bottom: 16px; 
}

#overall{
	width: 100vw;
}


.btn-primary{
	   color: #fff;
    background-color: #5A7B85;
     border-color: transparent;
    border-radius: 0px;
    font-family: 'Open Sans', sans-serif;
    font-weight: 100;
    width: 200px;
    outline: none;

}

.btn-primary:hover, .btn-primary:focus, .btn-primary:active, .btn-primary.active, .open>.dropdown-toggle.btn-primary {
       color: #fff;
    background-color: #274852;
    border-color: transparent;
    outline: transparent;
        box-shadow: none;

}

.btn:focus,.btn:active:focus,.btn.active:focus,
.btn.focus,.btn:active.focus,.btn.active.focus {
    outline: none;
}
body{
	    font-family: 'Open Sans', sans-serif;

}
